body {
  margin: 0;
  background: rgb(149,240,230);
  background: linear-gradient(180deg, rgba(255,233,240,1) 14%,  rgba(149,240,230,1) 80%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
